{% extends 'adtool/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">What is this site exactly about?</h1>
<p>
We at Bruno noticed that animal shelters across India receive several rescues every day. Many shelters lack the resources to nurse these animals back to health and thus rely on social media contacts to treat them at home for short periods of time (i.e. fosterers). There is no formal platform for these shelters to find and interact with potential fosterers and adopters.
</p>
<p>
We also realised that many people wish to have their own pets, but do not have the time or money to take
care of them for long periods of time, they only spend time with animals when they can. 
Businesses like cat/dog cafes target this demographic, but with the right service, 
this group can be used to help other pet owners.
</p>
<p>
Pet owners on the other hand find it difficult to look for trustworthy pet-sitters when they need to travel.
Being able to interact with animal lovers would help them choose a trustworthy individual who would be willing
to take care of their pet for a while.
</p>
<p>
As a result, we made it our goal to provide a platform for pet lovers and potential pet owners to easily
find animals in need of a new home, along with a way for pet owners to get contacted by the numerous pet lovers,
willing toals in need of a new home, along with a way for pet owners to get contacted by the numerous pet lovers,
willing to take care of their pets when the owners are away.
</p>
</div>
{% endblock content %}