{% extends 'adtool/base.html' %}
{% load static %}

{% block content %}
{% if object %}

<img src="{{ object.image.url }}" class="img-responsive" />
<div class="row">
    <div class="col-lg-3 h3">Name:</div>
    <div class="col-lg-5 h4">{{ object.name }}</div>
</div>
<div class="row">
    <div class="col-lg-3 h3">Criteria:</div>
    <div class="col-lg-5 h4">{{ object.criteria_verbose }}</div>
</div>
<div class="row">
    <div class="col-lg-3 h3">Published by:</div>
    <div class="col-lg-5 h4">{{ object.user }}</div>
</div>
<div class="row">
    <div class="col-lg-3 h3">Contact No:</div>
    <div class="col-lg-5 h4">{{ object.user.profile.contact_no }}</div>
</div>
<div class="row">
    <div class="col-lg-3 h3">Publish Date:</div>
    <div class="col-lg-5 h4">{{ object.publish_date }}</div>
</div>
<div id="is_caretaking">
    <div class="row">
        <div class="col-lg-3 h3">Start Date:</div>
        <div class="col-lg-5 h4">{{ object.start_date }}</div>
    </div>
    <div class="row">
        <div class="col-lg-3 h3">End Date:</div>
        <div class="col-lg-5 h4">{{ object.end_date }}</div>
    </div>
</div>
<h3>description:</h3><p>{{ object.description }}</p>
{% if user == object.user %}
    <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">update</a>
    <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}">delete</a>
{% endif %}

{% endif %}
{% endblock content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $( '#is_caretaking' ).hide()
    if ("{{ object.criteria }}" === '1') {
        console.log("here");
        $( '#is_caretaking' ).show()
    }
</script>
{% endblock javascript%}