{% extends 'adtool/base.html' %}
{% load static %}

{% block stylesheet %}
<style>
  .chartdiv {
    overflow-y: scroll;
    height: 520px;
  }
</style>
{% endblock stylesheet %}

{% block content %}
{% if object %}

<div>
    <div class="container">
        <legend>
            <h3 class="h3">
                name:     {{ object.name }}
            </h3>
            <!-- <h3 class="h3">
                criteria: {{ object.criteria_verbose }} <button class="btn btn-primary">inquire</button>
            </h3> -->
            <h3 class="h3">
                Published by: {{ object.user }}
            </h3>
            <h3 class="h3">
                Contact no: {{ object.user.profile.contact_no }}
            </h3>
            <h3 class="h3">
                Publish Date: {{ object.publish_date }}
            </h3>
            <div id="is_caretaking">
                <h3 class="h3">
                    Activity Start Date: {{ object.start_date }}
                </h3>
                <h3 class="h3">
                    Activity End Date: {{ object.end_date }}
                </h3> 
            </div>
            {% if user == object.user %}
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'update' object.id %}">update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}">delete</a>
            {% endif %}
        </legend>
        <div>
            <img src="{{ object.image.url }}" class="img-responsive"
                style="float: left; margin-right: 10px;" />
        </div>
        <h3>description:</h3><p>{{ object.description }}</p>
    </div>
</div>

{% endif %}
{% endblock content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $( '#is_caretaking' ).hide()
    if (int("{{ object.criteria }}" === 1)) {
        $( '#is_caretaking' ).show()
    }
</script>
{% endblock javascript%}