{% extends 'adtool/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-5">
        <!-- form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-dark">Upload</button>    
        </form>
    </div>
    <div class="col-lg-7">
        <!-- image -->
        {% if form.instance.image %}
        <img src="{{ form.instance.image.url }}" alt="pet image" id="profile-img-tag" />
        {% else %}
        <img src="{% static 'adtool/img/default_ad.png' %}" alt="pet image" id="profile-img-tag">
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">

    const image_tag = '#profile-img-tag';
    const id_image = '#id_image';
    let isImageSet = false;

    function readURL(input) {
        // Handling image input changing
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $(image_tag).attr('src', e.target.result);
                isImageSet = true;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $( '#div_id_start_date' ).hide();
    $( '#div_id_end_date' ).hide();
    $(id_image).change(function(){
        readURL(this);
    });

    $( '#id_criteria' ).change(function (){
        id_criteria_val = $(this).val()
        if (id_criteria_val != '1') {
            $( '#div_id_start_date' ).hide();
            $( '#div_id_end_date' ).hide();
        } else {
            $( '#div_id_start_date' ).show();
            $( '#div_id_end_date' ).show();
        }
    })
</script>
{% endblock javascript%}